*{
    margin: 0px;
    padding: 0px;
}
#banner img{
    width: 100%;
}
html,body{
    font-size: 16px;
    font-family:"lato-black";
}
header{
    width: 100%;
    height: 70px;
    background-color: #2d303e;
}
.top-nav{
    margin: 0 5%;
}
.top-nav, nav ul{
    display: flex;
    line-height: 70px;
    justify-content: space-between;
}
li {
    list-style: none;
}
.logo a,li a{
    margin: 10px;
    text-decoration: none;
    color: white;
}
.logo a span{
    color: #f06c6a;
}
.logo a{
    font-size: 24px;
}
header a{
    font-family: "Lato-bold";
}
.active,
header nav a:hover{
    color: #f06c6a;
}